:root {
  font-family: Manrope, system-ui, sans-serif;
  color: #222;
  background: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  min-height: 100vh;
}

body {
  margin: 0;
  background: #ffffff;
}

h1,
h2,
h3,
p {
  margin: 0 0 10px;
}

a {
  color: #ff385c;
}

button,
input,
select,
textarea {
  font: inherit;
}
